
spring:
  profiles:
    include:
      - aws
      - credentials
      - oauth
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${CLEARDB_DATABASE_URL}
    username: ${CLEARDB_DATABASE_USERNAME}
    password: ${CLEARDB_DATABASE_PASSWORD}


  mvc:
    static-path-pattern: /resources/**

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    database: mysql



cloud:
  aws:
    s3:
      bucket: iospring
    region:
      static: ap-northeast-2
    stack:
      auto: false
    credentials:
      accessKey: ${AWS_ACCESS}
      secretKey: ${AWS_SECRET}


logging:
  level:
    org.hibernate.SQL: debug

